/* all values should be in percentage and text in em for scability */

h1{ color: Black;
  font-family: Cambria, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

h2{ color: Black;
  font-family: Cambria, Arial, Helvetica, sans-serif;
  font-size: 1.875em;
}

body{
/* kawsar to do font family */
  margin: 10%;
  margin-top: 5%;
  font-size: 100%;
  text-align: left;
  background-color: rgb(247 247 247);
}

p{
/* put line spacing and font size */
  font-size: 0.875em;
  padding: .5%;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

