/* all values should be in percentage and text in em for scability */

h1{ 
  color: Black;
  font-family: Cambria, Arial, Helvetica, sans-serif;
  font-size: 2em;
}

h2{ 
  color: Black;
  font-family: Cambria, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

body{
  margin: 10%;
  margin-top: 5%;
  font-size: 100%;
  font-family: Cambria, Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: rgb(247 247 247);
}

p{
/* put line spacing and font size */
  padding: .5%;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}
li{
    
    color: white;
    text-decoration: none;
    padding: 5% 20%;
    font-family: Cambria, Arial, Helvetica, sans-serif ;
    font-size:1.1em;
    border : 1em solid white;
}

li:hover{ 
    border:1em solid white;
}

a {
    text-decoration: none;
}

a:hover{
    color:dodgerblue;
    background-color: darkslategray;
    text-decoration: none;
    padding: 0.55;
    font-family: Cambira,Arial,Helvetica,sans-serif;
    font-size: 1.1em;
}


/* KAWSAR STYLE UNORDERED LIST ELEMENTS AND LINK/HOVER
REFER TO https://www.w3schools.com/css/css_link.asp FOR LINKS
COPY FONT FAMILY AND FONT SIZE FROM P FOR BOTH ELEMENTS*/
ul{
}
/*links here */{
}


